/* CHAT.CSS */

body {
  background-image: url('../imagenes/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

 /* NAVBAR */
 .vertical-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background-color: #7F8CAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.vertical-navbar ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.vertical-navbar .nav-item {
  text-align: center;
  margin-bottom: 30px;
}

.vertical-navbar .nav-link {
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.vertical-navbar .nav-link i {
  font-size: 2em;
  color: #fff;
  transition: color 0.3s;
}

.vertical-navbar .nav-link:hover i {
  color: #a10051;
}

.navbar-logo {
  width: 70%;
  height: auto;
  max-width: 120px;
  margin-bottom: 20px;
}

.nav-link i {
    font-size: 2em; 
    color: #fff; 
    transition: color 0.3s;
  }

  .nav-link:hover i {
    color: #ff007f; 
  }


  .vertical-navbar .nav-link i {
    font-size: 2em; 
    color: #fff;
    transition: color 0.3s;
}

.vertical-navbar .nav-link:hover i {
    color: #a10051; 
}

/* ////////////////////////////////////////////////////// */

/* NAVBAR BLANCO */

.vertical-navbar-white {
  position: fixed;
  top: 0;
  left: 90px; 
  width: 450px;
  height: 100%;
  background-color: rgba(255, 251, 251, 0.9); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.vertical-navbar-white .search-form {
  width: 100%;
}

.vertical-navbar-white .search-form .form-control {
  padding: 10px;
  border: 2px solid #7F8CAA;
  border-radius: 4px;

}

.vertical-navbar-white .search-form .btn-outline-secondary {
    background-color: #7F8CAA; 
    color: #fff; 
    border-color: #7F8CAA; 
}

.vertical-navbar-white .search-form .btn-outline-secondary:hover {
  background-color: #a10051;
  color: #fff;
}
.vertical-navbar-white .nav-link {
  color: #000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  width: 100%;
}

.vertical-navbar-white .nav-link img.chat-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.vertical-navbar-white .nav-link:hover,
.vertical-navbar-white .nav-link.active {
    background-color: #d4d4d4;
}

.main-content {
  margin-left: 540px; 
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ///////////////////////////////////////////////////////// */

.chat-container {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    height: 70vh;
    overflow-y: auto;
    margin-bottom: 20px;
    height: calc(100vh - 150px);
  }
  
  .chat-message {
    display: flex;
    margin-bottom: 15px;
  }
  
  .chat-message.incoming {
    justify-content: flex-start;
  }
  
  .chat-message.outgoing {
    justify-content: flex-end;
  }
  
  .message-content {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
  }
  
  .chat-message.incoming .message-content {
    background-color: #444;
    color: #fff;
  }
  
  .chat-message.outgoing .message-content {
    background-color: #ff007f;
    color: #fff;
  }
  
  .message-time {
    display: block;
    font-size: 0.8em;
    color: #ccc;
    margin-top: 5px;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
}
  
.chat-input input {
  flex: 1;
  padding: 10px;
  border: 2px solid #7F8CAA;
  border-radius: 5px;
  background-color: #B8CFCE;
  color: #ffc8e3;
}
  
.chat-input button {
  background-color: #7F8CAA;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
  
  .chat-input button:hover {
    background-color: #a10051;
  }

  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-name {
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .chat-actions {
    display: flex;
    gap: 10px; 
  }
  
  .btn-call,
  .btn-video-call,
  .btn-options {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s;
  }

  
  
  .btn-call:hover,
  .btn-video-call:hover,
  .btn-options:hover {
    color: #ff007f; 
  }

  .btn-options {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}
  
  .btn-options:hover {
    color: #ff007f;
  }

  .btn-tasks {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .btn-tasks:hover {
    color: #ff007f;
  }
  
  .chat-container {
    background-color: rgba(44, 44, 44, 0.7);
    border-radius: 10px;
    padding: 20px;
    flex: 1;  
    overflow-y: auto;
    margin-bottom: 20px;
}


/* //////////////////////////////////////////////////////////// */


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

}

.modal-content {
  background-image: url('../imagenes/fondo2.png');
  padding: 70px;
  border-radius: 8px;
  text-align: center;
  width: 1000px;
  height: 800px;
  position: relative;
  
}

.close-btn {
  color: #ff007f;
  position: absolute;
  top: -25px;
  right: 5px;
  font-size: 4em;
  cursor: pointer;
}

#taskList {
  flex-grow: 1;
  max-height: 600px;
  overflow-y: auto; 
  background: rgba(255, 0, 127, 0.1);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px; 
}

#taskList li {
  background: #ff007f;
  color: white;
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#taskList .delete-task {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  font-size: 2em;
}

.task-input-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  
}

.task-input-container select:focus {
  outline: none;
  border-color: #a10051;
}

.task-input-container select {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ff007f;
  background-color: white;
  color: #ff007f;
  cursor: pointer;
}

#taskInput {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  background-color: #ff007f; 
}

#addTaskBtn {
  background: #ff007f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#addTaskBtn:hover {
  background: #a10051;
}
