/* INDEX.CSS */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

 
.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}


.presentation-container {
  background-color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #333;
}

.presentation-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #7F8CAA;
}

.presentation-container .description {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 30px;
}

.presentation-container .features {
  text-align: left;
  font-size: 1.1em;
}

.presentation-container .features i {
  color: #7F8CAA;
  margin-right: 10px;
}

.auth-container {
  background-image: url('../imagenes/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logo {
  margin-bottom: 30px;
}

.logo-img {
  width: 150px;
  height: auto;
  border: 10px solid #ff007f; 
  border-radius: 50%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.auth-form h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 2px solid #B8CFCE;
  border-radius: 5px;
  background-color: #B8CFCE;
  color: #fff;
}

.form-control:focus {
  border-color: #800040;
  outline: none;
}

.btn-primary {
  background-color: #333446;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #800040;
}

.toggle-auth {
  margin-top: 20px;
  color: #fff;
}

.toggle-auth a {
  color: #B8CFCE;
  text-decoration: none;
  transition: color 0.3s;
}

.toggle-auth a:hover {
  color: #a10051;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;

  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

